@import '../style/layout';
@import '../style/colours';

.not-found-container {
  background: $background-not-found-colour;
  color: $text-not-found-colour;
  display: table;
  left: 0;
  min-height: calc(100vh - 50px);
  position: fixed;
  text-align: center;
  width: calc(100vw);
}

.not-found-cell {
  display: table-cell;
  vertical-align: middle;
}

.not-found-text {
  margin: 0 auto;
  max-width: calc(60vw);
  text-shadow: 1px 1px 3px darken($text-not-found-colour, 60%);
}
